<a href="https://colab.research.google.com/github/Murcicrum/analisis-legislativo/blob/main/An%C3%A1lisis_legislativo.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Imports y carga del dataset

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt

In [ ]:
URL_DATASET = 'https://github.com/Murcicrum/analisis-legislativo/raw/main/dataset_final_train.csv'
df = pd.read_csv(URL_DATASET)
df.drop(columns=['Unnamed: 0','Unnamed: 0.1'], inplace=True)

###Primera inspecci칩n

In [ ]:
df.columns

Index(['es_oficialismo', '0_presencia', '0_apoyo', '1_presencia', '1_apoyo',
       '2_presencia', '2_apoyo', '3_presencia', '3_apoyo', 'nroperiodo',
       'tipo_mayoria', 'resultado', 'periodo_Extraordinario',
       'periodo_Ordinario', 'periodo_Pr칩rroga', 'sesion_Especial',
       'sesion_Preparatoria', 'sesion_Tablas'],
      dtype='object')

In [ ]:
df.describe()

       es_oficialismo  0_presencia  ...  sesion_Preparatoria  sesion_Tablas
count      799.000000   799.000000  ...                799.0     799.000000
mean         0.436796     0.812166  ...                  0.0       0.211514
std          0.496300     0.176141  ...                  0.0       0.408638
min          0.000000     0.000000  ...                  0.0       0.000000
25%          0.000000     0.723077  ...                  0.0       0.000000
50%          0.000000     0.850877  ...                  0.0       0.000000
75%          1.000000     0.947136  ...                  0.0       0.000000
max          1.000000     0.991379  ...                  0.0       1.000000

[8 rows x 18 columns]

In [ ]:
df.resultado.value_counts()

1    709
0     90
Name: resultado, dtype: int64

Balance, que es eso?

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 799 entries, 0 to 798
Data columns (total 18 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   es_oficialismo          799 non-null    int64
 1   0_presencia             799 non-null    float64
 2   0_apoyo                 792 non-null    float64
 3   1_presencia             799 non-null    float64
 4   1_apoyo                 756 non-null    float64
 5   2_presencia             799 non-null    float64
 6   2_apoyo                 752 non-null    float64
 7   3_presencia             799 non-null    float64
 8   3_apoyo                 747 non-null    float64
 9   nroperiodo              799 non-null    int64
 10  tipo_mayoria            799 non-null    int64
 11  resultado               799 non-null    int64
 12  periodo_Extraordinario  799 non-null    int64
 13  periodo_Ordinario       799 non-null    int64
 14  periodo_Pr칩rroga        799 non-null    int64
 15  sesion_Especial         799 non-null    int64
 16  sesion_Preparatoria     799 non-null    int64
 17  sesion_Tablas           799 non-null    int64
dtypes: float64(8), int64(10)
memory usage: 112.5 KB

###Inspecci칩n de nans

Los NaN se dan en las columnas de apoyo, donde los bloques no se hicieron presentes

In [ ]:
df[ df.isna().any(axis=1) ][[c for c in df.columns if (c[1]=='_' or c in['tipo_mayoria','resultado'])]]

     0_presencia   0_apoyo  1_presencia  ...   3_apoyo  tipo_mayoria  resultado
2       0.991304  1.000000     0.684211  ...       NaN             0          1
20      0.991379  0.913043     0.000000  ...       NaN             0          1
24      0.991379  0.913043     0.000000  ...       NaN             0          1
27      0.991379  0.913043     0.000000  ...       NaN             0          1
29      0.886957  1.000000     0.447368  ...       NaN             0          1
73      0.991379  0.913043     0.000000  ...       NaN             0          1
103     0.930435  0.971963     0.000000  ...       NaN             0          1
110     0.000000       NaN     0.928571  ...  0.952381             0          1
129     0.965217  1.000000     0.000000  ...       NaN             0          1
160     0.973684  1.000000     0.828571  ...       NaN             0          1
162     0.000000       NaN     0.963636  ...  0.533333             0          1
168     0.930435  0.981308     0.000000  ...       NaN             0          1
180     0.991379  0.913043     0.000000  ...       NaN             0          1
190     0.991379  0.913043     0.000000  ...       NaN             0          1
193     0.965217  1.000000     0.000000  ...       NaN             0          1
262     0.991379  0.913043     0.000000  ...       NaN             0          1
270     0.912281  1.000000     0.000000  ...       NaN             0          1
294     0.929825  1.000000     0.684211  ...       NaN             0          1
295     0.991379  0.913043     0.000000  ...       NaN             0          1
304     0.852174  1.000000     0.473684  ...       NaN             0          1
305     0.903509  1.000000     0.000000  ...       NaN             0          1
334     0.912281  1.000000     0.000000  ...       NaN             0          1
345     0.929825  1.000000     0.684211  ...       NaN             0          1
352     0.000000       NaN     0.951220  ...  1.000000             2          1
363     0.991379  0.913043     0.000000  ...       NaN             0          1
366     0.000000       NaN     0.928571  ...  1.000000             0          1
392     0.930435  1.000000     0.000000  ...       NaN             0          1
432     0.000000       NaN     0.880952  ...  1.000000             0          1
433     0.930435  0.971963     0.000000  ...       NaN             0          1
460     0.956522  1.000000     0.263158  ...       NaN             0          1
469     0.965517  0.964286     0.000000  ...       NaN             0          1
475     0.991379  0.913043     0.000000  ...       NaN             0          1
479     0.991379  0.913043     0.000000  ...       NaN             0          1
487     0.000000       NaN     0.981818  ...  0.555556             0          1
493     0.930435  0.962617     0.000000  ...       NaN             0          1
494     0.930435  1.000000     0.000000  ...       NaN             0          1
502     0.991379  0.913043     0.000000  ...       NaN             0          1
504     0.912281  1.000000     0.000000  ...       NaN             0          1
518     0.991379  0.913043     0.000000  ...       NaN             0          1
527     0.886957  1.000000     0.552632  ...       NaN             0          1
529     0.991379  0.913043     0.000000  ...       NaN             0          1
538     0.000000       NaN     0.928571  ...  1.000000             0          1
540     0.991379  0.913043     0.000000  ...       NaN             0          1
543     0.991379  0.913043     0.000000  ...       NaN             0          1
586     0.991379  0.913043     0.000000  ...       NaN             0          1
596     0.982456  1.000000     0.000000  ...       NaN             0          1
604     0.991379  0.913043     0.000000  ...       NaN             0          1
644     0.930435  1.000000     0.000000  ...       NaN             0          1
682     0.930435  0.981308     0.000000  ...       NaN             0          1
693     0.991379  0.913043     0.000000  ...       NaN             0          1
709     0.991379  0.913043     0.000000  ...       NaN             0          1
716     0.991379  0.913043     0.000000  ...       NaN             0          1
729     0.991379  0.913043     0.000000  ...       NaN             0          1
734     0.991379  0.913043     0.000000  ...       NaN             0          1
737     0.991379  0.913043     0.000000  ...       NaN             0          1
739     0.982609  1.000000     0.184211  ...       NaN             0          1
745     0.991379  0.913043     0.000000  ...       NaN             0          1
748     0.991379  0.913043     0.000000  ...       NaN             0          1
776     0.974138  0.964602     0.000000  ...       NaN             0          1

[59 rows x 10 columns]

Los NaN se dan en las columnas de apoyo en los casos donde los bloques mayoritarios no se presentaron a votar. Esto se da en todas (con una sola excepci칩n) las votaciones donde se requiere un tipo de mayoria 0, lo que equivale a los tipos 'Mitad m치s uno' y 'M치s de la mitad'.
Adem치s, Y adem치s en todos estos casos resulta que el acta en votaci칩n fu칠 aprobada.

Es sabido que el hecho de no presentarse a una votaci칩n puede utilisarse como herramienta pol칤tica para no dar quorum a la sesi칩n y posponer esta y las dem치s votaciones que se disputen en dicha sesi칩n. Es por esto que cualquier decisi칩n que se tome para trabajar con estos samples introducir치 un sesgo en el resultado, y reemplazar los NaNs por alg칰n valor adecuado no es nada trivial.

Considerando que en estos casos el resultado de la votaci칩n es el mismo, Afirmativo, y que esta clase ya se encuentra sobrerepresentada, Tomo la decisi칩n de eliminar estas filas. Adem치s puede verse que esto no quita variabilidad a los demas features.

In [ ]:
df.dropna(axis=0, inplace=True)
df.reset_index(drop=True, inplace=True)

### Modelo

In [ ]:
#METER UN SUPER MODELO AC츼